@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans';
}

body, html {
    margin: 0;
    height: 100%;
    background-color: #f6f7fb;
}

.titulo {
    display: flex;
    justify-content: center;
    background-color: #786ab4;
    color: #1e1e1e;
}

.barra-navegacion-container {
    display: flex;
    justify-content: center;
    background-color: #786ab4;
    border-bottom: #a7a1d1 2px solid;
}

.barra-navegacion li {
    
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
}

.barra-navegacion ul {
    display: flex;
    list-style: none;
    padding: 0%;
}

.barra-navegacion a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #1e1e1e;
    padding: 16px 25px;
    border-radius: 3px;
    border-color: #274745;
    transition: all 200ms 0s ease-in;
}

.barra-navegacion a:hover {
    background-color: #a7a1d1;
    color: #1e1e1e;
}

header {
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    position: sticky;
    top: 100%;
    margin-top: 5%;
    background-color: #6d65b4;
    border-top: #a7a1d1 2px solid;
}

.columna-footer {
    width: fit-content;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    * {
        text-align: center;
        color: #1e1e1e;
    }
}

#github-link {
    text-decoration: none;
    padding: 5px;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    background-color: #a7a1d1;
    border: #786ab4 3px solid;
    border-radius: 3px;
    img {
        max-width: 14px;
        padding-right: 5px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registro-form, #login-form {
    background-color: #dcd8f5;
    display: flex;
    flex-direction: column;
    border: #6d65b4 2px solid;
    border-radius: 8px;
    padding: 3rem 4rem;
    * {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    label {
        color: #1e1e1e;
        font-size: 0.95em;
    }
    input {
        padding: 5px;
        border-radius: 0.325rem;
        border: solid 1px #474747;
        &:focus {
            outline: 0;
            border-color: rgb(109, 101, 180);
            box-shadow: 0 0 0 .15rem rgba(109,101,180,.25);
        }
    }
    button {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75%;
        padding: 5px;
        background-color: #837aac;
        border-style: solid;
        border-color: #5a5396;
        border-radius: 5px;
        color: #f6f7fb;
        font-weight: bold;
        font-size: 0.85em;
        cursor: pointer;
        &:hover {
            background-color: #7f70be;
        }
        &:active {
            background-color: #5a5396;
        }
        transition: background-color 0.2s ease;
    }
}

@media (width >= 1280px) {
    #registro-form, #login-form {
        width: 25vw;
        padding: 3rem 5rem;
    }
}

@media (width < 1280px) {
    #registro-form, #login-form {
        width: 50vw;
    }
}

.card-prototipo {
    border: 3px solid #5a5396;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #dcd8f5;
    transition: transform 0.2s ease;
    cursor: pointer;
    max-height: 30vh;
    @media (max-height:800px) or (max-width:800px) {
        max-height: 50vh;
    }
    &:hover {
        transform: scale(1.02);
        filter: blur(0);
    }
    &:active {
        transform: scale(0.98);
        filter: blur(0);
    }
    img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 4px;
    }
    h3 {
        margin: 10px 0 5px;
        color: #1e1e1e;
    }
    p {
        font-size: 0.9em;
        color: #1e1e1e;
        font-weight: bold;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    padding: 20px;
    grid-auto-rows: 30vh;
    gap: 20px;
    padding-top: 0;
}

.main-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}