@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-color: #f6f7fb;
    --texto-color: #1e1e1e;
    --bg-accent-color: #8374c5;
    --bg-border-color: #a7a1d1;
    --btn-bg-color: #f6f7fb;
    --btn-border-color: #b5aef5;
    --btn-border-hover-color: #bbacee;
    --card-bg-color: #dcd8f5;
    --card-border-color: #a7a0e2;
    --login-bg-color: #cec7ee;
}

[data-theme="dark"] {
    --bg-color: #070707;
    --texto-color: #f0f0f0;
    --bg-accent-color: #5c528f;
    --bg-border-color: #857fa7;
    --btn-bg-color: #423a66;
    --btn-border-color: #817bb1;
    --btn-border-hover-color: #7e72a3;
    --card-bg-color: #3e395e;
    --card-border-color: #736bc2;
    --login-bg-color: #0f0f0f;
}

* {
    font-family: 'Open Sans';
}

body, html {
    margin: 0;
    height: 100%;
    background-color: var(--bg-color);
}

.titulo {
    display: flex;
    justify-content: center;
    background: var(--bg-accent-color);
    color: var(--texto-color);
}

.barra-navegacion-container {
    display: flex;
    justify-content: center;
    background-color: var(--bg-accent-color);;
    border-bottom: var(--bg-border-color) 2px solid;
    border-top: var(--bg-border-color) 1px dashed;
}

.barra-navegacion li {
    
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
}

.barra-navegacion ul {
    display: flex;
    list-style: none;
    padding: 0%;
}

.barra-navegacion a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--texto-color);
    padding: 16px 25px;
    transition: background-color 200ms 0s ease-in, color 200ms 0s ease-in;
}

.barra-navegacion a:hover {
    background-color: var(--bg-border-color);;
    color: var(--texto-color);
}

header {
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    z-index: 100;
}


footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    position: sticky;
    top: 100%;
    margin-top: 5%;
    background-color: var(--bg-accent-color);
    border-top: var(--bg-border-color) 2px solid;
}

.columna-footer {
    width: fit-content;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    * {
        text-align: center;
        color: var(--texto-color);
    }
}

#github-link {
    text-decoration: none;
    padding: 8px;
    color: var(--texto-color);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--btn-bg-color);
    border: var(--btn-border-color) 2px solid;
    border-radius: 10px;
    img {
        max-width: 14px;
        padding-right: 5px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: var(--texto-color);
    }
}

#registro-form, #login-form {
    background-color: var(--login-bg-color);
    display: flex;
    flex-direction: column;
    border: var(--bg-border-color) 2px solid;
    border-radius: 8px;
    padding: 3rem 4rem;
    * {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    label {
        color: var(--texto-color);;
        font-size: 0.95em;
    }
    input {
        padding: 5px;
        border-radius: 0.325rem;
        border: solid 1px #474747;
        &:focus {
            outline: 0;
            border-color: rgb(109, 101, 180);
            box-shadow: 0 0 0 .15rem rgba(109,101,180,.25);
        }
    }
    button {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75%;
        padding: 5px;
        background-color: var(--btn-bg-color);
        border-style: solid;
        border-color: var(--btn-border-color);
        border-radius: 5px;
        color: var(--texto-color);
        font-weight: bold;
        font-size: 0.85em;
        cursor: pointer;
        &:hover {
            background-color: var(--btn-border-hover-color);
        }
        &:active {
            background-color: var(--btn-border-hover-color);
        }
        transition: background-color 0.2s ease;
    }
}

@media (width >= 1280px) {
    #registro-form, #login-form {
        width: 25vw;
        padding: 3rem 5rem;
    }
}

@media (width < 1280px) {
    #registro-form, #login-form {
        width: 50vw;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--card-border-color);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--card-bg-color);
    transition: transform 0.2s ease;
    @media (max-height:800px) or (max-width:800px) {
        max-height: 50vh;
    }
    img {
        width: 100%;
        max-width: 256px;
        height: 100%;
        align-self: center;
        object-fit: cover;
        border-radius: 4px;
    }
    h3 {
        margin: 10px 0 5px;
        color: var(--texto-color);
    }
    p {
        font-size: 0.9em;
        color: var(--texto-color);
        font-weight: bold;
    }
    button {
        padding: 2px 5px;
        border: 2px solid var(--btn-border-color);
        background-color: var(--btn-bg-color);
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.85em;
        cursor: pointer;
        color: var(--texto-color);
        text-wrap: nowrap;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--btn-border-hover-color);
        }
    }
}

.cantidad-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}



.main-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important; 
    color: var(--texto-color);
}

.user-buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    button {
        padding: 5px;
        border: 2px solid var(--btn-border-color);
        background-color: var(--btn-bg-color);
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.85em;
        cursor: pointer;
        color: var(--texto-color);;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--btn-border-hover-color);
        }
    }
}

.img-container {
    display: flex;
    gap: 50px;
    img {
        width: 256px; 
        border: 2px solid var(--bg-border-color);
        border-radius: 8px;
    }
}

.logged-buttons {
    position: fixed;
    top: 20px;
    left: 20px;
}

#logout-btn, #carrito-btn, .button-theme {
    padding: 5px;
    border: 2px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.85em;
    cursor: pointer;
    color: var(--texto-color);
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--btn-border-hover-color);
    }
}

#cadenas-container, #anillos-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    justify-content: center;
    align-items: stretch;
}

.cards-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}